html
  font-size: 16px
body
  line-height: 1.5
  font-size: 1rem
  color: #484848

.layout-header
  height: 80px
  display: flex
  align-items: center
  justify-content: space-between
  .layout-header-logo
    img
      display: block
      width: 60px
  .layout-header-logout
    display: block
    font-size: 1.25rem
    border: none
    background: transparent
    border-radius: 0
    color: #ffffff

.layout-body
  height: calc(100vh - 80px)

.layout-body-content
  overflow: auto
  padding: 20px 50px 30px
  .ant-breadcrumb
    margin-bottom: 10px

