.login-wrap
  position: relative
  height: 100vh
  background: #dbe7e4
.login-board
  position: absolute
  width: 360px
  background: #ffffff
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2)
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  .login-board-header
    padding: 15px
    img
      display: block
      width: 60px
      margin: auto
  .login-board-body
    padding: 20px 50px
  .login-field
    margin-top: 10px
    .login-error-tip
      min-height: 21px
      font-size: 0.875rem
      color: #9a031e
      margin-top: 5px
  .login-board-footer
    padding: 0 15px 15px
    text-align: center

  
