.product-list-search
  display: flex
  align-items: center
  justify-content: space-between
  background: #ffffff
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  padding: 10px 15px
  .ant-select
    width: 180px
  .ant-input-search.ant-input-group-wrapper
    width: calc(100% - 200px)

.product-list-table
  background: #ffffff
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  margin-top: 20px
  padding: 0 15px 20px
.product-list-table-option
  a
    display: inline-block
    width: 36px
    height: 30px
    line-height: 30px
    font-size: 1rem
    color: #99c1de
    background: rgba(#d6e2e9, 0.5)
    border-radius: 4px
    text-align: center
    vertical-align: top
    + a
      margin-left: 10px

.product-detail-option
  display: flex
  align-items: center
  justify-content: flex-end
  background: #ffffff
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  padding: 10px 15px
  .ant-btn
    margin-left: 20px

.product-detail-form
  background: #ffffff
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  margin-top: 20px
  padding: 20px 15px
.product-detail-group
  max-width: 600px
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin: 0 auto 20px
  .product-detail-group-title
    width: 160px
    font-size: 1rem
    padding: 4px 0
    margin: 0
  .product-detail-group-content
    width: calc(100% - 160px)
    .display
      font-size: 1rem
      padding: 4px 0
    .ant-input-number,
    .ant-select
      width: 100%

